{% extends 'base.html' %}

{% block title %}Delete trip{% endblock %}

{% block content %}
<h2 class="text-danger">Delete trip: {{ trip['name'] }}</h2>
<div class="container">
    <div class="row">
        <div class="col-3"><strong>Activity Level::</strong></div>
        <div class="col">{{ trip['level'] }}</div>
        </div>
    <div class="row">
        <div class="col-3"><strong>Start Date:</strong></div>
        <div class="col">{{ trip['start_date'] }}</div>
    </div>
    <div class="row">
        <div class="col-3"><strong>Location:</strong></div>
        <div class="col">{{ trip['location'] }}</div>
    </div>
    <div class="row">
        <div class="col-3"><strong>Length:</strong></div>
        <div class="col">{{ trip['length'] }}</div>
    </div>
    <div class="row">
        <div class="col-3"><strong>Cost:</strong></div>
        <div class="col">${{ trip['cost'] }}</div>
    </div>
    <div class="row">
        <div class="col-3"><strong>Leder:</strong></div>
        <div class="col">{{ trip['leader'] }} </div>
    </div>
    <div class="row mb-3">
        <div class="col-3"><strong>Description:</strong></div>
        <div class="col">{{ trip['description'] }}</div>
    </div>
</div>
<div class="row">
<div class="col-6 text-center">
    <a href="{{ url_for('view_trip', trip_id=trip_id) }}" class="btn btn-primary">Back to trip Details</a>
    <a href="{{ url_for('delete_trip', trip_id=trip_id, delete='1') }}" class="btn btn-danger">Really Delete This trip</a>
</div>
</div>
{% endblock %}