{% extends 'base.html' %}

{% block title %}{{ trip['Trip Name'] }}{% endblock %}

{% block content %}

<h1 class="mt-5 pt-5 text-danger">&#9888; Delete this trip? &#9888;</h1>
<h2 class="text-info">{{ trip['Trip Name'] }}</h2>
<p><strong class="text-info">Start Date:</strong> {{ trip ['Start Date'] }}</p>
<p><strong class="text-info">Length:</strong> {{ trip['Length'] }}</p>
<p><strong class="text-info">Location:</strong> {{ trip['Location'] }}</p>
<p><strong class="text-info">Level:</strong> {{ trip['Level'] }}</p>
<p><strong class="text-info">Leader:</strong> {{ trip['Leader'] }}</p>
<p><strong class="text-info">Cost:</strong> {{ trip['Cost'] }}</p>
<p><strong class="text-info">Description:</strong> {{ trip['Description'] }}</p>

<form method="POST" action="/confirm_delete_trip/{{ trip['Trip Name'] }}" class="mb-3">
    <input type="hidden" name="trip_id" value="{{ trip['Trip Name'] }}" />
    <button type="submit" class="btn btn-lg btn-danger">Confirm Delete</button>
</form>
<a href="{{ url_for('trip', trip_id=trip['Trip Name']) }}" class="btn btn-lg btn-info mb-3">Back to Trip</a>

{% endblock %}