{% extends 'base.html' %}

{% block title %}Edit Trip: {{ trip['Trip Name'] }}{% endblock %}

{% block content %}

<h1 class="mt-5 pt-5 text-info">Edit Trip: {{ trip['Trip Name'] }}</h1>
<form method="post" action="{{ url_for('edit_trip', trip_id=trip['Trip Name']) }}">
    <div class="mb-3">
        <label for="trip_name">Trip Name</label>
        <input type="text" class="form-control" id="trip_name" name="trip_name" value="{{ trip['Trip Name'] }}"
            required>
    </div>

    <!-- <div class="mb-3">
        <label for="start_date">Start Date</label>
        {% set convert = trip['Start Date'].split('/') %} for the value of the date to be pre-set before editing, i must convert my original date of MM/DD/YY to what the format the input date value is originally, YYYY-MM-DD
        {% if convert[0]|length == 1 and convert [1]|length == 1 %}  -->
    <!-- the | before length is a filter used in Jinja learned here https://jinja.palletsprojects.com/en/2.11.x/templates/#filters-->
    <!-- <input type="date" class="form-control" id="start_date" name="start_date" value="{{ '20' + convert[2] }}-{{ '0' + convert[0] }}-{{ '0' + convert[1] }}" required> -->
    <!-- 20 is added to [2], which is the year, because it is assumed the dates of these trips are after 1999, [0] is the month and 0 is added incase single digit, and [1] is the day-->
    <!-- {% elif convert[0]|length == 1 %}
            <input type="date" class="form-control" id="start_date" name="start_date" value="{{ '20' + convert[2] }}-{{ '0' + convert[0] }}-{{ convert[1] }}" required> 
        {% elif convert[1]|length == 1 %}
            <input type="date" class="form-control" id="start_date" name="start_date" value="{{ '20' + convert[2] }}-{{ convert[0] }}-{{ '0' + convert[1] }}" required>
        {% endif %}
        <div class="form-text">Use the calendar to select the start date or type it in yourself.</div>
    </div> -->

    <div class="mb-3">
        <label for="start_date">Start Date</label>
        <input type="text" class="form-control" id="start_date" name="start_date" value="{{ trip['Start Date'] }}"
            pattern="(202[3-9]|20[3-9][0-9]|2100)-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])" required>
        <div class="form-text">Type the date in the format YYYY-MM-DD. Year must be 2023 and beyond.</div>
    </div>

    <div class="mb-3">
        <label for="length" class="form-label">Length</label>
        <select class="form-select" name="length" id="length" value="{{ trip['Length'] }}">
            <option value="1 day" {% if trip['Length']=='1 day' %}selected{% endif %}>1 day</option>
            <option value="2 days" {% if trip['Length']=='2 days' %}selected{% endif %}>2 days</option>
            <option value="3 days" {% if trip['Length']=='3 days' %}selected{% endif %}>3 days</option>
            <option value="4 days" {% if trip['Length']=='4 days' %}selected{% endif %}>4 days</option>
            <option value="5 days" {% if trip['Length']=='5 days' %}selected{% endif %}>5 days</option>
            <option value="6 days" {% if trip['Length']=='6 days' %}selected{% endif %}>6 days</option>
            <option value="7 days" {% if trip['Length']=='7 days' %}selected{% endif %}>7 days</option>
        </select>
        <div class="form-text">Select trip duration between 1 day and 1 week.</div>
    </div>

    <div class="mb-3">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" name="location" value="{{ trip['Location'] }}" required>
    </div>

    <div class="mb-3">
        <label for="level" class="form-label">Level</label>
        <select class="form-select" name="level" id="level">
            <option value="Beginner" {% if trip['Level']=='Beginner' %}selected{% endif %}>Beginner</option>
            <option value="Intermediate" {% if trip['Level']=='Intermediate' %}selected{% endif %}>Intermediate</option>
            <option value="Advanced" {% if trip['Level']=='Advanced' %}selected{% endif %}>Advanced</option>
        </select>
        <div class="form-text">Select Beginner, Intermediate, or Advanced.</div>
    </div>

    <div class="mb-3">
        <label for="leader">Leader</label>
        <input type="text" class="form-control" id="leader" name="leader" value="{{ trip['Leader'] }}" required>
        <div class="form-text">Enter the first and last name of the trip leader.</div>
    </div>

    <div class="mb-3">
        <label for="cost" class="form-label">Cost</label>
        <input type="text" name="cost" id="cost" class="form-control" value="{{ trip['Cost'] }}" pattern="\$\d+\.\d{2}">
        <div class="form-text">Enter the cost of the trip by including the dollar sign and decimal point (Ex: $123.45).
        </div>
    </div>

    <div class="mb-3">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3"
            required>{{ trip['Description'] }}</textarea>
    </div>

    <button type="submit" class="btn btn-lg btn-success">Update Trip</button>
    <button type="reset" value="Reset" class="btn btn-lg px-4 gap-3 btn-danger">Reset</button>
</form>

{% endblock %}