{% extends 'base.html' %}

{% block title%}Outdoor Adventures!{% endblock %}

{% block content %}

<div class="container-sm px-4 py-5 my-5 text-center bg-white text-dark bg-opacity-50">
    <img class="d-block mx-auto mb-2 img-fluid" src="{{ url_for('static', filename='images/cappadocia.jpeg') }}">
    <h1 class="display-5 fw-bold text-info">Outdoor Adventures</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Here at Outdoor Adventures, we provide many unique trips around touristic hotspots of Turkey!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ url_for('list_trips') }}">
                <button type="button" class="btn btn-info btn-lg px-4 gap-3">See trips!</button>
            </a>
            <a href="{{ url_for('list_members') }}">
                <button type="button" class="btn btn-info btn-lg px-4 gap-3">See Members</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}