{% extends 'base.html' %}

{% block title %}Members{% endblock %}

{% block content %}

<div class="container">
    <h1 class="mt-5 pt-5 text-info">Outdoor Adventures Club Members</h1>
    <table class="table table-striped border border-info">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>DOB</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members: %}
            <tr>
                <td class="text-info fw-bold">{{ member['fname'] }}</td>
                <td class="text-info fw-bold">{{ member['lname'] }}</td>
                <td>{{ member['email'] }}</td>
                <td>{{ member['address'] }}</td>
                <td>{{ member['dob'] }}</td>
                <td>{{ member['phone'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<a class="btn btn-success px-4 gap-3 justify-content-center align-items-center" href="{{ url_for('create_member') }}">Add a Member!</a>
{% endblock %}