{% extends 'base.html' %}

{% block title %} {{ trip['name'] }} {% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <h2 class="text-info">{{ trip['trip_name'] }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2"><strong>Start Date:</strong></div>
        <div class="col-3">{{ trip['start_date'] }}</div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2"><strong>Length:</strong></div>
        <div class="col">{{ trip['length'] }} day(s)</div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2"><strong>Activity Level:</strong></div>
        <div class="col">{{ trip['level'] }}</div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2"><strong>Location:</strong></div>
        <div class="col">{{ trip['location'] }}</div>
        </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2"><strong>Cost:</strong></div>
        <div class="col">${{ trip['cost'] }}</div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2"><strong>Leader:</strong></div>
        <div class="col">{{ trip['leader'] }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-2"></div>
        <div class="col-2"><strong>Description:</strong></div>
        <div class="col">{{ trip['description'] }}</div>
    </div>
</div>

{% if attendees %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-6">
        <h2 class="text-primary">Attendees</h2>
    </div>
</div>
<li class="row pb-sm-3 pb-md-0">
    <div class="col-md-3 text-nowrap"><strong>Name</strong></div>
    <div class="col-md-2 text-nowrap"><strong>Email</strong></div>
    <div class="col-md-2 text-nowrap"><strong>Phone</strong></div>
    <div class="col-md-2 text-nowrap"><strong>DOB</strong></div>
</li>
{% for attendee in attendees: %}
<li class="row pb-sm-3 pb-md-0 mb-1">
    <div class="col-md-3 text-nowrap">{{ attendee['fname'] }} {{ attendee['lname'] }}</div>
    <div class="col-md-2 text-nowrap">{{ attendee['email'] }}</div>
    <div class="col-md-2 text-nowrap">{{ attendee['phone'] }} </div>
    <div class="col-md-2 text-nowrap">{{ attendee['dob'] }}</div>
    <div class="col-2 text-nowrap">
        <a href="{{ url_for('edit_attendee', trip_id=trip_id, attendee_id=attendee['attendee_id'] ) }}" class="btn btn-primary btn-sm" role="button">Edit</a>
        <a href="{{ url_for('delete_attendee', trip_id=trip_id, attendee_id=attendee['attendee_id'] ) }}" class="btn btn-danger btn-sm" role="button">Delete</a>
    </div>
</li>
{% endfor %}

{% endif %}

    <div class="my-2 text-center">
        <a href="{{ url_for('list_trips') }}" class="btn btn-info">Back to trips</a>
        <a href="{{ url_for('edit_trip', trip_id=trip_id) }}" class="btn btn-primary">Edit this trip</a>
        <a href="{{ url_for('delete_trip', trip_id=trip_id) }}" class="btn btn-danger">Delete this trip</a>
    </div>

{% endblock %}